.text-secondary-paragraph {
  color: #434343;
  font-size: 20px;
}

.about-info {
  display: grid;
  grid-gap: 30px;
}

.image-bio {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
}

.about-info .bio {
  font-size: 1.3rem;
}

.about-info .bio-image {
  width: 260px;
  height: 280px;
  margin: auto;
  background-position: auto;
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #f5603b;
}

.work-education {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.about-info .job {
  font-size: 1.2rem;
  background: #827878;
  padding: 0.5rem;
  border-bottom: solid 5px #f5603b;
}

.sm-heading.work {
  font-size: 2.6rem;
}
