.body {
  margin: 0;
  background: #ddd;
  font-size: 18px;
  height: 100vh;
}

.container {
  margin: 0 auto;
  text-align: center;

  h1 {
    margin: 1em 0;
  }

  p {
    line-height: 1.7rem;
  }

  .left {
    background: linear-gradient(160deg, #601df7 0%, #8800ff 100%);
    padding: 1em;

    p,
    h1 {
      color: #eee;
    }
  }

  .right p {
    margin: 2em 0 1em;
    color: #333;
  }

  .light {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  input,
  textarea,
  button {
    font-family: "Roboto Condensed", sans-serif;
    width: calc(100% - 3em);
    padding: 0.3em;
    outline: none;
    font-size: 1.3rem;
    margin: 1em;
  }

  .label {
    float: left;
    color: #333;
  }

  button {
    width: calc(100% - 2em);
    margin: 0;
    color: #eee;
    background: #8800ff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  textarea {
    width: calc(100% - 1em);
    margin-left: -1px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  button {
    width: 60% !important;
  }

  input {
    width: calc(60% - 1em) !important;
  }
}

@media only screen and (min-width: 1024px) {
  p {
    line-height: 1.7em !important;
  }

  .inner {
    display: grid;
    grid-template-columns: 55% auto;

    .left {
      text-align: left;
      padding: 0 2em;
      height: 100vh;
      display: grid;
      align-items: center;
    }

    .content {
      padding: 0 3em;
    }

    h1 {
      margin: 0;
      font-size: 2.4em;

      span {
        display: block;
      }
    }
  }

  .right {
    text-align: right;
    align-self: center;
    padding: 0 2em 1.5em;
    justify-self: center;

    p {
      text-align: center;
    }

    input {
      width: calc(100% - 1em) !important;
      margin: 1em 0;
    }

    button {
      width: 60% !important;
      margin-right: 91px;
    }
  }
}

.proto-container {
  clip-path: inset(0 45% 0 0);
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 0;
  height: 70%;
  pointer-events: none;

  .proto {
    border: 3px solid rgba(255, 255, 255, 0.1);
    width: 19%;
    height: 70%;
    float: left;
    margin-left: 1em;
    transform: translateX(10%);
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 24px;
  }

  .content {
    padding: 0 6em !important;
  }

  .right {
    padding: 0 !important;
  }
}
