/* Controls all the actions for the menu icon at the top left */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 0 0 5px 0;
  transition: all 0.5s ease-out;
}

/* Changes the menu color for the add events page */
.btn-line.add-events {
  background: #333 !important;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  background: red !important;
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  background: red !important;
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Reveals the nav menu */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
/* Shows the content of the menu */
.menu-branding,
.menu-nav {
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
/* Reveals the nav links */
.menu-nav {
  margin: 0;
  padding: 0;
  background: #686060;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
/* Reveals the content of menu branding e.g Potrait picture */
.menu-branding {
  background: #756c6c;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 260px;
  height: 310px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #f5603b;
}
/* Styling the nav links */
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

/* Set color the current link */
.nav-item.current > a {
  color: #f5603b;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 14px 0;
  font-weight: 415;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #f5603b;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  transition-delay: 0.5s;
}

.nav-item:nth-child(6) {
  transition-delay: 0.5s;
}
